<?xml version="1.0" encoding="utf-8"?>
<FrameLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <ScrollView
        android:layout_width="match_parent"
        android:layout_height="match_parent">
        <MvxLinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            app:MvxBind="ItemsSource Students;Visibility Visibility(HasStudents)"
            app:MvxItemTemplate="@layout/listitem_student" />
    </ScrollView>
    <mystudylife.droid.widgets.LonelyView
        android:id="@+id/LonelyView"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_gravity="center"
        app:glyph="student"
        app:text="@string/Class.StudentsLonely"
        app:MvxBind="Visibility InvertedVisibility(HasStudents)"
        style="@style/MyStudyLife.Widget.LonelyView.Dialog" />
</FrameLayout>