<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:minHeight="@dimen/input_height"
    android:background="@drawable/staticlistitem_background"
    android:orientation="horizontal">
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_gravity="center_vertical"
        android:layout_weight="1"
        android:orientation="vertical">
        <TextView
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:textColor="@color/foreground"
            android:textSize="@dimen/text_subhead"
            app:MvxBind="Text Time" />
        <mystudylife.droid.widgets.ClassTimeOccurrenceTextView
            android:id="@+id/ClassTimeOccurrenceText"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:text="Occurrence"
            android:textColor="@color/subtle_text"
            android:textSize="@dimen/text_body"
            app:MvxBind="Value" />
    </LinearLayout>
    <ImageButton
        android:id="@+id/ActionDelete"
        android:layout_width="@dimen/input_height"
        android:layout_height="match_parent"
        android:background="?attr/selectableItemBackground" />
</LinearLayout>