<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="48dp">
    <FrameLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:background="?attr/selectableItemBackground">
    <!-- 54% white -->
        <mystudylife.droid.widgets.Icon
            android:id="@+id/DrawerItemIcon"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_marginLeft="@dimen/margin"
            android:text=""
            android:textColor="@color/foreground_mid"
            android:textSize="26dp"
            android:layout_gravity="center_vertical" />
    <!-- 87% white -->
        <mystudylife.droid.widgets.RobotoTextView
            android:id="@+id/DrawerItemText"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_marginLeft="72dp"
            android:layout_marginRight="@dimen/margin"
            android:text="@string/Views.Dashboard"
            android:textColor="@color/foreground_mid"
            android:textSize="@dimen/text_body"
            android:layout_gravity="center_vertical" />
    </FrameLayout>
</LinearLayout>