<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientation="vertical"
    android:background="@android:color/white">
    <FrameLayout
        android:layout_width="match_parent"
        android:layout_height="?attr/actionBarSize"
        android:background="?attr/colorPrimaryDark">
        <androidx.appcompat.widget.SwitchCompat
            android:id="@+id/RemindersEnabledSwitch"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:paddingLeft="@dimen/toolbar_margin_start"
            android:layout_marginRight="@dimen/margin"
            android:textColor="@android:color/white"
            local:MvxBind="Checked Settings.RemindersEnabled" />
        <TextView
            android:id="@+id/RemindersEnabledText"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_gravity="left|center_vertical"
            android:paddingLeft="@dimen/toolbar_margin_start"
            android:textColor="@android:color/white"
            android:textSize="@dimen/text_subhead" />
    </FrameLayout>
    <FrameLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_weight="1">
        <mystudylife.droid.widgets.LonelyView
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_gravity="center"
            local:glyph="notification"
            local:text="@string/EnableRemindersPrompt"
            local:MvxBind="Visibility InvertedVisibility(Settings.RemindersEnabled)" />
        <ScrollView
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:orientation="vertical"
            local:MvxBind="Visibility Visibility(Settings.RemindersEnabled)">
            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:paddingTop="@dimen/margin_s"
                android:orientation="vertical">
                <RelativeLayout
                    android:layout_width="wrap_content"
                    android:id="@+id/ClassRemindersPicker"
                    style="@style/SettingInputField">
                    <TextView
                        style="@style/SettingInputFieldName"
                        android:id="@+id/SettingInputFieldName"
                        android:text="@string/ClassReminders" />
                    <TextView
                        android:id="@+id/ClassRemindersText"
                        style="@style/SettingInputFieldValue"
                        android:layout_below="@id/SettingInputFieldName"
                        android:text="@string/RemindersOff" />
                </RelativeLayout>
                <View
                    style="@style/SettingsDivider" />
                <RelativeLayout
                    android:layout_width="wrap_content"
                    android:id="@+id/ExamRemindersPicker"
                    style="@style/SettingInputField">
                    <TextView
                        style="@style/SettingInputFieldName"
                        android:id="@+id/SettingInputFieldName"
                        android:text="@string/ExamReminders" />
                    <TextView
                        android:id="@+id/ExamRemindersText"
                        style="@style/SettingInputFieldValue"
                        android:layout_below="@id/SettingInputFieldName"
                        android:text="@string/RemindersOff" />
                </RelativeLayout>
                <TextView
                    android:text="Task Reminders"
                    style="@style/SettingsGroupText" />
                <FrameLayout
                    android:paddingLeft="0dp"
                    android:paddingRight="0dp"
                    style="@style/SettingInputItem">
                    <androidx.appcompat.widget.SwitchCompat
                        android:id="@+id/TaskRemindersEnabledSwitch"
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:layout_marginRight="@dimen/margin"
                        android:paddingLeft="@dimen/margin"
                        android:textColor="@android:color/white"
                        local:MvxBind="Checked Settings.TaskRemindersEnabled" />
                    <TextView
                        android:id="@+id/TaskRemindersEnabledText"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:layout_gravity="left|center_vertical"
                        android:paddingLeft="@dimen/margin"
                        android:textColor="@color/foreground"
                        android:textSize="@dimen/text_subhead" />
                </FrameLayout>
                <View
                    style="@style/SettingsDivider" />
                <RelativeLayout
                    android:layout_width="wrap_content"
                    android:id="@+id/TaskRemindersPicker"
                    style="@style/SettingInputField"
                    local:MvxBind="Visibility Visibility(Settings.TaskRemindersEnabled)">
                    <TextView
                        style="@style/SettingInputFieldName"
                        android:id="@+id/SettingInputFieldName"
                        android:text="@string/RemindMeAboutIncompleteTasks" />
                    <TextView
                        android:id="@+id/TaskRemindersText"
                        style="@style/SettingInputFieldValue"
                        android:layout_below="@id/SettingInputFieldName"
                        android:text="@string/AtTimeTheDayBeforeFormat" />
                </RelativeLayout>
            </LinearLayout>
        </ScrollView>
    </FrameLayout>
</LinearLayout>