<?xml version="1.0" encoding="utf-8"?>
<mystudylife.droid.fragments.FragmentRootLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <FrameLayout
        style="@style/ItemListWrapperLayout">
        <mystudylife.droid.widgets.LonelyView
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_gravity="center"
            app:glyph="subject"
            app:MvxBind="Text LonelyText;Visibility InvertedVisibility(Items.Count)" />
        <MvxListView
            android:id="@+id/ItemList"
            style="@style/ItemList"
            app:MvxBind="ItemsSource ViewSource.View;ItemClick EditCommand"
            app:MvxItemTemplate="@layout/listitem_subject" />
        <com.google.android.material.floatingactionbutton.FloatingActionButton
            android:id="@+id/FloatingActionButton"
            style="@style/FloatingActionButton"
            app:MvxBind="Click NewCommand" />
    </FrameLayout>
</mystudylife.droid.fragments.FragmentRootLayout>