<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:orientation="vertical">
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="@dimen/input_height_primary"
        android:background="@drawable/separator_bottom">
        <EditText
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_weight="1"
            android:paddingLeft="@dimen/margin"
            android:paddingRight="@dimen/margin"
            android:gravity="center_vertical"
            android:hint="@string/Name"
            android:singleLine="true"
            android:background="@null"
            android:textSize="@dimen/text_subhead"
            android:inputType="textAutoCorrect|textCapWords"
            local:MvxBind="Text InputItem.Name" />
        <mystudylife.droid.widgets.ColorPicker
            style="@style/ColorPicker"
            android:id="@+id/ColorPicker"
            android:layout_width="@dimen/input_height_primary"
            android:layout_height="@dimen/input_height_primary"
            android:layout_gravity="center_vertical"
            android:padding="@dimen/margin"
            android:background="@null"
            local:MvxBind="ItemsSource Colors;SelectedItem SelectedColor" />
    </LinearLayout>
<!-- Scheduling -->
    <mystudylife.droid.widgets.RobotoTextView
        android:text="@string/Advanced"
        android:background="@null"
        style="@style/TecSectionTitleText" />
    <TextView
        style="@style/InputDisamText"
        android:text="@string/SubjectInput.AdvancedScheduleHelp"
        android:textColor="@color/subtle_text"
        android:paddingLeft="@dimen/margin"
        android:paddingRight="@dimen/margin"
        android:paddingBottom="@dimen/margin_s" />
    <mystudylife.droid.widgets.IconInputLayout
        android:layout_width="match_parent"
        android:layout_height="@dimen/input_height"
        android:background="@drawable/separator_bottom"
        local:glyph="schedule">
        <mystudylife.droid.widgets.InputAcademicSchedulePicker
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:paddingLeft="0dp"
            android:hint="@string/None"
            local:MvxBind="ItemsSource AcademicYears;SelectedItem SelectedSchedule" />
    </mystudylife.droid.widgets.IconInputLayout>
</LinearLayout>